body {
    background-image: linear-gradient(to right, #c4850b , #645b05);
}
nav {
    background-image: linear-gradient(to right, #1b8405 , #08620e);
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
}
h2 {
    text-align: center;
}
nav.navbar ul {
    text-align: right;
    list-style-type: none;
}

ul {
    text-align: center;
    padding-left: 0;
}
hr{
    margin-top: 120px;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
form {
    text-align: center;
}
input {
    padding: 12px;
    border: 5px;
}